<div class="post">
    <h1>Контакты</h1>
    <p>E-mail: <a href="mailto:textilushka@gmail.com">textilushka@gmail.com</a><br />
    Телефон: (066) 482-95-91, (096) 973-07-64<br />
    г. Харьков
    </p>
    <h1>Социальные сети</h1>
    <p>
        <a href="http://www.odnoklassniki.ru/profile/131800980130">Одноклассники</a><br/>
        <a href="http://vk.com/id34379511">Вконтакте</a><br/>
    </p>
</div>
