<?php
    if ($this->gid == 'shtory')
        $galleryTitle = 'Фотогалерея домашнего текстиля';
    if ($this->gid == 'toys')
        $galleryTitle = 'Фотогалерея игрушек';
?>
<div class="post">
    <h1><?php echo $galleryTitle; ?></h1>
    <div id="galleri-wrap">
        <div id="galleria">
        </div>
    </div>
</div>
<script type="text/javascript">
    var imageData = <?php echo json_encode($this->result); ?>

    Galleria.loadTheme('/js/galleria/themes/classic/galleria.classic.min.js');
    Galleria.run('#galleria', {
        dataSource: imageData
    });
</script>
