<div class="post">
    <h1>Создай уют в своем доме с помощью штор!</h1>
    
    <p class="abzatz">Текстильное оформление имеет важную роль для интерьера комнаты. Она становится более уютной и приобретает законченный вид. Шторы - практически неотъемлемая часть любого интерьера, а иногда даже занимает одну из главных ролей в убранстве комнаты. Спальню невозможно представить без текстильного оформления - это и шторы, и покрывало, и декоративные подушки. Иногда даже самую простую спальную комнату можно изменить до неузнаваемости с помощью текстиля. </p>
    <p class="abzatz"><img src="/images/svagi.jpg" width="231" height="173" alt="svagi"  class="float-left" />  Существует несколько видов штор: это раздвижные шторы, декоративные (нерабочие) и подъемные.  </p>
    <p class="abzatz">К раздвижным шторам относятся классические и японские панели. </p> 
    <p class="abzatz">Декоративные шторы украшают интерьер, их шьют в основном из лёгких тканей (органза, вуаль, капрон). Такие шторы можно повесить там где не нужно закрывать окно от солнца или любопытных соседей. </p>
    <p class="abzatz">На изготовление подъемных штор потребуется минимальное количество ткани. Смотрятся такие шторы очень необычно и красиво - это римские шторы, французские, австрийские, лондонские и рулонные шторы. </p>
    <p class="abzatz">Украшениями штор могут служить подхваты из ткани, магнитные подхваты, прищепки для создания красивых драпировок, а также различные ламбрекены - это мягкие ламбрекены, жесткие (бандо) и смешанные виды ламбрекенов (трансформеры).  </p> 
    <p class="abzatz">Шторы можно изготовить на подкладке, это придаст форму и пышность шторам, а также защитит портьерную ткань от истирания и выгорания. </p>
</div>
<div class="post">
    <h1>Выставка "Алиса в стране чудес".</h1>
    
    <p class="abzatz"><img src="/images/v1.jpg" width="432" height="336" alt="v1"  class="float-left" />Добрый день! Расскажу вам немного о стилизованной выставке изделий ручной работы, в которой мы участвовали с зайками. Выставка называлась ARTiSHOP -12 «Алиса в стране чудес» и состоялась 29-30 октября 2011 года в ХАТОБе. «Следуй за белым кроликом!» - вот главный лозунг выставки.</p>
    <p class="abzatz">На этой выставке мастера представляли свои работы, выполненные в разных техниках (игрушки, украшения для женщин и для интерьера, валяные шарфы, шляпки, обувь, сумки, часы и много другое), а также можно было приобрести разнообразные материалы для рукоделия. Некоторые мастера были одеты в костюмы в стиле Алисы и героев из этой сказки. Специально для этой выставки я изготовила кролика с карманными часами из сказки Льюса Кэрролла. В общем, всё было красиво и интересно.</p> 
</div>
<div class="post">
    <h1>Развивающие коврики для Ваших детей.</h1>
    
    <p class="abzatz"><img src="/images/kovrik.jpg" width="306" height="300" alt="kovrik"  class="float-left" />
    Уважаемые гости сайта, хочу вам рассказать об удивительном способе развития маленьких детей! </p>
    <p class="abzatz">Сейчас многие родители занимаются развитием своих детей ещё с самого маленького их возраста, например, 
    ходят в специальные клубы. Там с детьми проводят различные игры, в том числе, используют развивающие 
    игрушки. Однако, есть возможность развивающих игр и дома. Для этого Вам необходим развивающий коврик и 
    Ваше активное участие в игре с ребенком. </p>
    <p class="abzatz">Развивающие коврики сочетают в себе материалы, различные по фактуре и цвету, имеют множество различных 
    застежек, шнуровок. На базе развивающего коврика представлен определенный сюжет, где можно фантазировать 
    и придумывать сказки. C таким ковриком ребенок сможет играть до 5 лет. </p>
    <p class="abzatz">В игровой форме Ваш ребенок сможет развить мелкую моторику, сенсорное восприятие,изучить цвета и формы, 
    научиться считать, развить логику, освоить различные варианты застежек. А главное, он почувствует Вашу 
    любовь и заботу! </p>
</div>