<div class="post">
    <h1>Фото развивающего коврика</h1>
    <center><img src="images/kov01.jpg" width="640" height="480"></center>
    <center><img src="images/kov02.jpg" width="640" height="479"></center>
    <center><img src="images/kov03.jpg" width="480" height="640"></center>
    <p class="abzatz">Солнце заходит за тучу. Стог на кнопке - за ним жеребенок.
                                Мост на шнуровке - за ним рак.
                                Рыба плавает по реке - её можно ловить в сеть. </p>
    <center><img src="images/kov04.jpg" width="640" height="480"></center>
    <p class="abzatz">Цветы на липучках, кнопках, пуговице - все отстёгиваются.
    В синих лепестках - бусинки.
    Бабочка и пчела могут сесть на любой цветок - они на резинках.
    За поросёнком карман на кнопке.
    Курица садится на любое яйцо (на липучке).
    </p>
    <center><img src="images/kov05.jpg" width="640" height="480"></center>
    <center><img src="images/kov06.jpg" width="640" height="479"></center>
    <p class="abzatz">Из гнезда птицы можно достать яйца (бусинки) - посчитать их.
                                Дупло на дереве открывается (на крючке) - там сова.
                                Дом: 1 этаж на молнии, 2 - на кнопке, 3 - на крючке, чердак на липучках.
                                Дверь открывается - на поговице.  </p>
    <center><img src="images/kov07.jpg" width="480" height="640"></center>
    <p class="abzatz">Холодильник закрывается на крючек. Из него можно доставать разные фрукты и выкладывать их на стол. На столе липучка в виде тарелки.
    Мышке можно положить в лапки сыр.
    Мешок с рисом отстегиватся (на липучке "велкро"). </p>
    <center><img src="images/kov08.jpg" width="479" height="640"></center>
    <center><img src="images/kov09.jpg" width="640" height="479"></center>
    <p class="abzatz">На облаке с обратной стороны молния - оттуда можно достать дождь. Облако крепится на коврик с помощью липучки. Липучки, пришитые на коврике, сделаны в виде маленьких облаков. </p>
    <center><img src="images/kov10.jpg" width="479" height="640"></center>
</div>