<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/twitter-bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/js/twitter-bootstrap.js"></script>
    <title>Admin</title>
</head>

<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="<?php echo $this->url(array(), 'admin_index') ?>">Admin Panel</a>
            <ul class="nav">
                <li>
                    <a href="/">На главную</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Фотографии
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="<?php echo $this->url(array(), 'admin_picture'); ?>">Добавить</a>
                        </li>
                        <li>
                            <a href="<?php echo $this->url(array(), 'admin_del'); ?>">Удалить</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a href="<?php echo $this->url(array(), 'logout') ?>">Выход</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container">
        <div id="view-content">		
            <?php echo $this->layout()->content; ?>							
        </div>
    <div>
</body>

</html>