<?php echo $this->doctype(); ?>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <meta name="Description" content="текстилюшка, textildom, текстильдом,текстиль дом, шторы, Харьков, ламбрекен, ламбрекены, бандо, сваг, римская штора, игрушки, игрушка, подушка, покрывала, покрывало, развивающий коврик,  развивающие игрушки, подарок, дизайн" />
    <meta name="Keywords" content="шторы, покрывала, подушки и игрушки на заказ в харькове" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="RU" />
    <meta name="Author" content="Светлана тюрева - Svetichek@bk.ru" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic" type="text/css">
    <link rel="stylesheet" href="/css/pixelgreen.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/js/galleria/galleria-1.2.8.min.js"></script>
    <title>Текстилюшка. Шторы, покрывала, подушки и игрушки.</title>
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
    <div id="header">
        <div id="header-content">
            <h1 id="logo"><a href="/" title=""><span class="gray">Текстилюшка</span></a></h1>
            <h2 id="slogan">Шторы, покрывала, подушки и игрушки</h2>

            <!-- Menu Tabs -->
            <ul>
                <li><a href="<?php echo $this->url(array(), 'home'); ?>" <?php echo $this->linkClass['home']; ?>>Главная</a></li>
                <li><a href="<?php echo $this->url(array(), 'shtory'); ?>" <?php echo $this->linkClass['shtory']; ?>>Шторы</a></li>
                <li><a href="<?php echo $this->url(array(), 'kovr'); ?>" <?php echo $this->linkClass['kovr']; ?>>Развивающие коврики</a></li>
                <li><a href="<?php echo $this->url(array(), 'toys'); ?>" <?php echo $this->linkClass['toys']; ?>>Игрушки</a></li>
                <li><a href="<?php echo $this->url(array(), 'contacts'); ?>" <?php echo $this->linkClass['contacts']; ?>>Контакты</a></li>
                <li><a href="http://www.livemaster.ru/tureva/" class="store">Магазин</a></li>
            </ul>

        </div>
    </div>

    <?php if (isset($this->headerphoto)) { ?>
        <div class="headerphoto"></div>
    <?php } ?>

    <!-- content-wrap starts here -->
    <div id="content-wrap">
        <div id="content">
            <div id="sidebar" >
                <div class="sidebox">

                    <h1>Добро пожаловать!</h1>

                    <p>Уважаемые посетители сайта, рада Вас приветствовать! Меня зовут Светлана Тюрева. Я занимаюсь дизайном и пошивом штор, покрывал, декоративных подушек и игрушек, а также шью развивающие коврики и игрушки для детей. Чтобы сделать заказ, свяжитесь со мной, и мы обговорим все детали работы и договоримся о встрече. Выезд на замеры по Харькову бесплатно. </p>
                    <p> Звоните: (066) 482-95-91 или (096) 973-07-64.</p>

                </div>
                <div class="sidebox">
                    <h1 class="clear">Меню сайта</h1>
                    <ul class="sidemenu">
                        <li><a href="<?php echo $this->url(array(), 'home'); ?>" class="top">Главная</a></li>
                        <li><a href="<?php echo $this->url(array(), 'shtory'); ?>">Шторы</a></li>
                        <li><a href="<?php echo $this->url(array(), 'kovr'); ?>">Развивающие коврики</a></li>
                        <li><a href="<?php echo $this->url(array(), 'toys'); ?>">Игрушки</a></li>
                        <li><a href="<?php echo $this->url(array(), 'contacts'); ?>">Контакты</a></li>
                    </ul>
                </div>
            </div>

            <div id="main">
                <?php echo $this->layout()->content; ?>
            </div>

        </div>
    </div>
    <!-- content-wrap ends here -->

    <!-- footer starts here -->
    <div id="footer">
        <div id="footer-content">
            <?php include('statistic.phtml') ?>
            <div class="col2 float-right">
                <p><strong>
                Вызов дизайнера на дом:<br/>
                (066) 482-95-91<br/>
                (096) 973-07-64<br/>
                г. Харьков
                </strong></p>
            </div>
        </div>
    </div>
    <!-- footer ends here -->

<!-- wrap ends here -->
</div>

</body>
</html>
