<?php if (getenv('APPLICATION_ENV') != 'development') { ?>
            <!-- Google Analytics -->
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-21476757-3']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
            <!-- end Google Analytics -->
            <div class="col float-left">
                <h1>Статистика:</h1>
                <!-- I.UA counter --><a href="http://www.i.ua/" target="_blank" onclick="this.href='http://i.ua/r.php?109399';" title="Rated by I.UA">
                 <script type="text/javascript" language="javascript">
                    iS='<img src="http://r.i.ua/s?u109399&p30&n'+Math.random();
                    iD=document;if(!iD.cookie)iD.cookie="b=b; path=/";if(iD.cookie)iS+='&c1';
                    iS+='&d'+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)
                    +"&w"+screen.width+'&h'+screen.height;
                    iT=iD.referrer.slice(7);iH=window.location.href.slice(7);
                    ((iI=iT.indexOf('/'))!=-1)?(iT=iT.substring(0,iI)):(iI=iT.length);
                    if(iT!=iH.substring(0,iI))iS+='&f'+escape(iD.referrer.slice(7));
                    iS+='&r'+escape(iH);
                    iD.write(iS+'" border="0" width="88" height="31" />');
                 </script></a><!-- End of I.UA counter -->

                <script type='text/javascript'>
                    var st24Date=(new Date()).getTime();
                    var st24Src='http://ua5.hit.stat24.com/_'+st24Date;
                    st24Src+='/script.js?id=';
                    st24Src+='ncblpfsA7W5O4U66qHYbPtULj_5Z_Y_e4T1a8y4F99n.97/l=11';
                    var st24Tg='<'+'scr'+'ipt type="text/javascript" src="';
                    document.writeln(st24Tg+st24Src+'"></'+'scr'+'ipt>');
                </script>
                <br/>
	           <!--Логотип статистики-->
               <a href="http://www.stat24.meta.ua" target="_blank"><img border="0"
               src="http://stat24.meta.ua/img/counter/9.gif" /></a>
               <!-- stat24 clickMap -->
               <script type="text/javascript" src="http://s2.hit.stat24.com/scriptxy.js?id=B8Ca1mNtY1ATMpb6KrR94JbynO8srrCdfNmfWFWLruT.k7/align=center/type=percent"></script>
                 
            </div>
            <div class="col float-left">
                <h1>Ещё:</h1>
                <!--bigmir)net TOP 100-->
                 <?php /* <script type="text/javascript" language="javascript"><!--
                 function BM_Draw(oBM_STAT){
                    document.write('<table cellpadding="0" cellspacing="0" border="0" style="display:inline;margin-right:4px;"><tr><td><div style="margin:0px;padding:0px;font-size:1px;width:88px;"><div style="background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b61_top.gif\') no-repeat bottom;">&nbsp;</div><div style="font:10px Tahoma;background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b61_center.gif\');"><div style="text-align:center;"><a href="http://www.bigmir.net/" target="_blank" style="color:#0000ab;text-decoration:none;font:10px Tahoma;">bigmir<span style="color:#ff0000;">)</span>net</a></div><div style="margin-top:3px;padding: 0px 6px 0px 6px;color:#e2762d;"><div style="float:left;font:10px Tahoma;">'+oBM_STAT.hosts+'</div><div style="float:right;font:10px Tahoma;">'+oBM_STAT.hits+'</div></div><br clear="all"/></div><div style="background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b61_bottom.gif\') no-repeat top;">&nbsp;</div></div></td></tr></table>');
                 }
                 </script>
                 <script type="text/javascript" language="javascript"><!--
                    bmN=navigator,bmD=document,bmD.cookie='b=b',i=0,bs=[],bm={o:1,v:16881780,s:16881780,t:0,c:bmD.cookie?1:0,n:Math.round((Math.random()* 1000000)),w:0};
                    for(var f=self;f!=f.parent;f=f.parent)bm.w++;
                    try{if(bmN.plugins&&bmN.mimeTypes.length&&(x=bmN.plugins['Shockwave Flash']))bm.m=parseInt(x.description.replace(/([a-zA-Z]|\s)+/,''));
                    else for(var f=3;f<20;f++)if(eval('new ActiveXObject("ShockwaveFlash.ShockwaveFlash.'+f+'")'))bm.m=f}catch(e){;}
                    try{bm.y=bmN.javaEnabled()?1:0}catch(e){;}
                    try{bmS=screen;bm.v^=bm.d=bmS.colorDepth||bmS.pixelDepth;bm.v^=bm.r=bmS.width}catch(e){;}
                    r=bmD.referrer.slice(7);if(r&&r.split('/')[0]!=window.location.host){bm.f=escape(r);bm.v^=r.length}
                    bm.v^=window.location.href.length;for(var x in bm) if(/^[ovstcnwmydrf]$/.test(x)) bs[i++]=x+bm[x];
                    bmD.write('<sc'+'ript type="text/javascript" language="javascript" src="http://c.bigmir.net/?'+bs.join('&')+'"></sc'+'ript>');
                 </script>
                 <noscript> */ ?>
                    <a href="http://www.bigmir.net/" target="_blank"><img src="http://c.bigmir.net/?v16881780&s16881780&t2" width="88" height="31" alt="bigmir)net TOP 100" title="bigmir)net TOP 100" border="0" /></a>
                 <?php //</noscript> ?>
                 <!--bigmir)net TOP 100-->
                 <br/><a href="<?php echo $this->url(array(), 'login', true); ?>">Вход</a>
            </div>
<?php } else { ?>
    <div class="col float-left">
        <h1>Статистика:</h1>
        development
    </div>
    <div class="col float-left">
        <h1>Ещё:</h1>
        development
    </div>
<?php } ?>
