<p>Удаление фотографий:</p>
   
<?php
    foreach ($this->images as $item) {
        $src = '/thumbs/' . $item['category'] . '/120/' . $item['link_ph']; ?>
<div class="img-box" id="img_<?php echo $item['id_ph']; ?>">
    <a href="<?php echo $this->url(array('id' => $item['id_ph']), 'delete_image'); ?>" onclick="return confirm('Вы действительно хотите удалить эту фотографию?');">
        <img src="<?php echo $src; ?>">
    </a>
</div>
<?php
    }
?>
<div class="clear-left"></div>

<?php echo $this->paginationControl($this->images, 'Elastic', 'main_paginator.phtml'); ?>

<?php /*
<p class="div-right"><a href="<?php echo $this->url(array(), 'logout'); ?>">Выход</a></p>
 * 
 */ ?>