<p>Действие:</p>
<ul>
    <li><a href="<?php echo $this->url(array(), 'admin_picture'); ?>">Добавить фотографии</a></li>
    <li><a href="#">Редактировать страницы</a></li>
</ul>
<ul>
    <li><a href="<?php echo $this->url(array(), 'admin_del'); ?>">Удалить фотографии</a></li>
</ul>
<?php /*
<p class="div-right"><a href="<?php echo $this->url(array(), 'logout'); ?>">Выход</a></p>
 * 
 */ ?>