<?php if (isset($this->message)) { ?>
<div class="message-succes"><?php echo $this->message; ?></div>
<?php } ?>
<?php echo $this->form; ?>
<a href="<?php echo $this->url(array(), 'admin_index'); ?>">&larr; Назад</a>