/* 
    Document     : admin
    Modification : 22.11.2011,
    Author       : morontt
    Description:
    Purpose of the stylesheet follows.
*/
body {
    margin-top: 40px;
}
p {
    margin: 0 0 16px 0;
}
.clear-left {
    clear: left;
}
.div-right {
    text-align: right;
}
#view-content { 
    margin: 10px 20px;
    padding: 10px;
    border: solid #B6D59A 1px;
}
.message-succes {
    color: darkgreen;
    background-color: beige;
    border-color: darkgreen;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
.message-error {
    color: darkred;
    background-color: #ff9999;
    border-color: darkred;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
.img-box {
    padding: 5px;
    float: left;
}
.paginator {
    text-align: center;
    margin-top: 30px;
}